.app__testimonials {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-base);
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .app__testimonials {
    padding: 6rem 4rem !important;
  }
}

.app__testimonials .app__testimonials-card {
  background-color: var(--white-color);
  display: flex;
  width: 600px;
  height: auto;
  padding: 2rem;
  border-radius: .6rem;
  box-shadow: 0 0 10px 5px var(--lightGray-color);
}

@media screen and (max-width: 768px) {
  .app__testimonials .app__testimonials-card {
    flex-direction: column !important;
  }
}

.app__testimonials .app__testimonials-card .profile {
  flex: 1;
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__testimonials .app__testimonials-card .profile img {
  width: 80px;
  height: 80px;
}

.app__testimonials .app__testimonials-card .app__testimonials-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 200px;
}

.app__testimonials .app__testimonials-card .app__testimonials-text p {
  line-height: 1.5;
}

.app__testimonials .app__testimonials-card .app__testimonials-text h6 {
  line-height: 2;
  color: var(--gray-color);
}

.app__testimonials .app__testimonials-handler {
  display: flex;
  column-gap: 2rem;
  margin-top: 2rem;
}

.app__testimonials .app__testimonials-handler div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: all 0.5s ease-out;
}

.app__testimonials .app__testimonials-handler div:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.app__testimonials .app__testimonials-handler div svg {
  display: block;
  cursor: pointer;
  font-size: 1.5rem;
}

.app__testimonials .logos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 4rem;
}

.app__testimonials .logos img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}
